<div class="col-sm-12">
      
  <h1>Inbox</h1>

  <table  class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>From</th>
        <th>Received at</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @messages.each do |message| %>
        <tr class="<%= 'success' unless message.read %>">
          <td><%= message.title %></td>
          <td><%= message.sender.full_name %></td>
          <td><%= message.created_at %></td>
          <td><%= link_to 'Show', message %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Message', new_message_path %> | 
  <%= link_to 'Sent Messages', sent_messages_path %> |
  <%= link_to 'Back', messages_path %>
</div>


